@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
html,body{
  height: 100%;
  width: 100%;
}
#image_1_div{
    border: solid 4px rgb(206, 68, 68);
}

#imgb{
  position: absolute;
  z-index: 50;
  left: 8.3%;
  top: 16.3%;
  height: 38%;
  width: 38%;
  border-radius: 100%;
  
}
input[type="file"]{
  display: none;
}
#NameOrTitleTextDiv{
  position: absolute;
  z-index: 20;
  top: 58%;
  left: 10%;
  @apply text-xs flex flex-col items-center justify-center

}
#flag{
  position: absolute;
  z-index: 20;
  top: 57%;
  left: 15%;
  height: 200px;
  font-size: 100px;
  color: rgb(71, 66, 66);

}
#divele{
  height: 3216px;
  width: 3216px;
  position: fixed;
}
#BanerImage{
  height: 100%;
  width: 100%;
}